node-red/flows.json
[{"id":"6db34105.dece4","type":"tab","label":"Test send message","disabled":false,"info":""},{"id":"d4b46b29.205b48","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b073dd84.09cb6","type":"server","z":"","name":"Home Assistant"},{"id":"81c4fe80.c2ddf","type":"mqtt-broker","z":"","name":"HassioMQTT","broker":"localhost","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3562ea0d.8f01d6","type":"inject","z":"6db34105.dece4","name":"Set off","topic":"HelloWorld","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":280,"wires":[["bc1816ea.2a75a8"]]},{"id":"bc1816ea.2a75a8","type":"mqtt out","z":"6db34105.dece4","name":"Send message","topic":"HelloWorld","qos":"1","retain":"false","broker":"81c4fe80.c2ddf","x":550,"y":260,"wires":[]},{"id":"2a459d65.2c17e2","type":"mqtt in","z":"6db34105.dece4","name":"Receive message","topic":"HelloWorld","qos":"1","broker":"81c4fe80.c2ddf","x":250,"y":440,"wires":[["d7069a4f.194828","ac1e94a7.298f38","f73bed2d.00667"]]},{"id":"d7069a4f.194828","type":"debug","z":"6db34105.dece4","name":"Debug message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":380,"wires":[]},{"id":"2e5b430e.7ea34c","type":"inject","z":"6db34105.dece4","name":"Set on","topic":"HelloWorld","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["bc1816ea.2a75a8"]]},{"id":"ac1e94a7.298f38","type":"trigger-state","z":"6db34105.dece4","name":"HelloWorldStateTrigger","server":"b073dd84.09cb6","entityid":"HelloWorldState","entityidfiltertype":"exact","debugenabled":true,"constraints":[],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"3av2dtc7bn7","messageType":"default","messageValue":"","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":false,"state_type":"str","x":570,"y":440,"wires":[[],[],[]]},{"id":"f73bed2d.00667","type":"ha-fire-event","z":"6db34105.dece4","name":"Send HelloWorld Event","server":"b073dd84.09cb6","event":"HelloWorld","data":"","render_data":false,"mergecontext":"","x":620,"y":580,"wires":[[]]},{"id":"643da2f.d73975c","type":"mqtt in","z":"d4b46b29.205b48","name":"","topic":"mysensors-in","qos":"1","broker":"81c4fe80.c2ddf","x":330,"y":380,"wires":[["5c1f5906.b88b78"]]},{"id":"5c1f5906.b88b78","type":"debug","z":"d4b46b29.205b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":380,"wires":[]},{"id":"4b03878d.fadf38","type":"mqtt in","z":"d4b46b29.205b48","name":"","topic":"home-assistant/switch/1/on","qos":"1","broker":"81c4fe80.c2ddf","x":370,"y":500,"wires":[["e1a232da.8c864"]]},{"id":"e1a232da.8c864","type":"debug","z":"d4b46b29.205b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":500,"wires":[]},{"id":"f7d95893.f14c88","type":"server-events","z":"6db34105.dece4","name":"","server":"b073dd84.09cb6","event_type":"","x":280,"y":700,"wires":[["c300cf6.8c65b3"]]},{"id":"c300cf6.8c65b3","type":"debug","z":"6db34105.dece4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":720,"wires":[]},{"id":"16000c72.20a5c4","type":"mqtt in","z":"d4b46b29.205b48","name":"","topic":"mysensors-out/#","qos":"1","broker":"81c4fe80.c2ddf","x":340,"y":280,"wires":[["47a50a87.f6e5f4"]]},{"id":"47a50a87.f6e5f4","type":"debug","z":"d4b46b29.205b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":280,"wires":[]}]