node-red/flows.json
[{"id":"6db34105.dece4","type":"tab","label":"Test send message","disabled":false,"info":""},{"id":"d4b46b29.205b48","type":"tab","label":"MySensors Flow ","disabled":false,"info":""},{"id":"9495699b.c7d978","type":"tab","label":"Sun Flow","disabled":false,"info":""},{"id":"32a6ac5d.df3574","type":"tab","label":"Ikea TRADFRI","disabled":false,"info":""},{"id":"23a11d2f.881b02","type":"tab","label":"Manual tests","disabled":false,"info":""},{"id":"32b3138d.d2689c","type":"tab","label":"MySensors Test","disabled":false,"info":""},{"id":"b073dd84.09cb6","type":"server","z":"","name":"Home Assistant"},{"id":"81c4fe80.c2ddf","type":"mqtt-broker","z":"","name":"HassioMQTT","broker":"localhost","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3562ea0d.8f01d6","type":"inject","z":"6db34105.dece4","name":"Set off","topic":"HelloWorld","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":280,"wires":[["bc1816ea.2a75a8"]]},{"id":"bc1816ea.2a75a8","type":"mqtt out","z":"6db34105.dece4","name":"Send message","topic":"HelloWorld","qos":"1","retain":"false","broker":"81c4fe80.c2ddf","x":550,"y":260,"wires":[]},{"id":"2a459d65.2c17e2","type":"mqtt in","z":"6db34105.dece4","name":"Receive message","topic":"HelloWorld","qos":"1","broker":"81c4fe80.c2ddf","x":250,"y":440,"wires":[["d7069a4f.194828","ac1e94a7.298f38","f73bed2d.00667"]]},{"id":"d7069a4f.194828","type":"debug","z":"6db34105.dece4","name":"Debug message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":380,"wires":[]},{"id":"2e5b430e.7ea34c","type":"inject","z":"6db34105.dece4","name":"Set on","topic":"HelloWorld","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["bc1816ea.2a75a8"]]},{"id":"ac1e94a7.298f38","type":"trigger-state","z":"6db34105.dece4","name":"HelloWorldStateTrigger","server":"b073dd84.09cb6","entityid":"HelloWorldState","entityidfiltertype":"exact","debugenabled":true,"constraints":[],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"3av2dtc7bn7","messageType":"default","messageValue":"","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":false,"state_type":"str","x":570,"y":440,"wires":[[],[],[]]},{"id":"f73bed2d.00667","type":"ha-fire-event","z":"6db34105.dece4","name":"Send HelloWorld Event","server":"b073dd84.09cb6","event":"HelloWorld","data":"","render_data":false,"mergecontext":"","x":620,"y":580,"wires":[[]]},{"id":"f7d95893.f14c88","type":"server-events","z":"6db34105.dece4","name":"","server":"b073dd84.09cb6","event_type":"","x":280,"y":700,"wires":[["c300cf6.8c65b3"]]},{"id":"c300cf6.8c65b3","type":"debug","z":"6db34105.dece4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":720,"wires":[]},{"id":"9e05edb5.d6dd8","type":"poll-state","z":"9495699b.c7d978","name":"Sun down","server":"b073dd84.09cb6","updateinterval":"60","outputinitially":true,"outputonchanged":true,"entity_id":"sun.sun","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":320,"y":200,"wires":[["628b7f8.c227b8","d6a756ca.191078"]]},{"id":"628b7f8.c227b8","type":"debug","z":"9495699b.c7d978","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":160,"wires":[]},{"id":"d6a756ca.191078","type":"switch","z":"9495699b.c7d978","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"above_horizon","vt":"str"},{"t":"eq","v":"below_horizon","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":300,"wires":[["628b7f8.c227b8"],["b0ee1e0e.75321"]]},{"id":"d3e9b142.a8b74","type":"debug","z":"9495699b.c7d978","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":500,"wires":[]},{"id":"7369f00e.4335c","type":"api-call-service","z":"9495699b.c7d978","name":"Switch light on","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.bollamp\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":320,"wires":[[]]},{"id":"b0ee1e0e.75321","type":"function","z":"9495699b.c7d978","name":"Check first run","func":"var lastRunDate=context.get('lastRunDate') || 0;\nvar currentDate = new Date();\nvar currentDateString = currentDate.toDateString()\n\n// test if undefined (automaticallye first run)\nif (lastRunDate===undefined || lastRunDate===currentDateString)\n{\n  lastRunDate=currentDateString;\n  flow.set('lastRunDate',lastRunDate);\n  return [msg, null];\n}\n\nreturn [null, msg];","outputs":2,"noerr":0,"x":780,"y":320,"wires":[["7369f00e.4335c","3adc5fa4.4dcf9"],["d3e9b142.a8b74"]]},{"id":"3adc5fa4.4dcf9","type":"debug","z":"9495699b.c7d978","name":"light on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060,"y":260,"wires":[]},{"id":"5e6bfc02.03aa74","type":"ha-get-entities","z":"32a6ac5d.df3574","server":"b073dd84.09cb6","name":"","rules":[{"property":"","logic":"is","value":"","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":260,"y":260,"wires":[[]]},{"id":"bc47b1c8.7ae52","type":"trigger-state","z":"6db34105.dece4","name":"","server":"b073dd84.09cb6","entityid":" sensor.tradfri_motion_sensor","entityidfiltertype":"exact","debugenabled":true,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":830,"y":100,"wires":[["76f4a825.5b7678"],["76f4a825.5b7678"]]},{"id":"76f4a825.5b7678","type":"debug","z":"6db34105.dece4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":80,"wires":[]},{"id":"4095a570.2643bc","type":"server-state-changed","z":"6db34105.dece4","name":"","server":"b073dd84.09cb6","entityidfilter":" sensor.tradfri_motion_sensor","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":920,"y":240,"wires":[["33c9118d.2a9bbe"]]},{"id":"33c9118d.2a9bbe","type":"debug","z":"6db34105.dece4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1240,"y":240,"wires":[]},{"id":"a92d990d.1f2048","type":"mqtt in","z":"d4b46b29.205b48","name":"","topic":"mysensors-out/5/12/#","qos":"0","broker":"81c4fe80.c2ddf","x":140,"y":320,"wires":[["ca80075c.3b9fb8"]]},{"id":"ca80075c.3b9fb8","type":"switch","z":"d4b46b29.205b48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":320,"wires":[[],["b2f43d8f.e51b8"]]},{"id":"a79636fc.0a0888","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch woonkamerlampen on","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.woonkamer_lampen\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2099,"y":60,"wires":[[]]},{"id":"b2f43d8f.e51b8","type":"api-current-state","z":"d4b46b29.205b48","name":"","server":"b073dd84.09cb6","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.bollamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":326,"wires":[[],["9448d9e5.5b1618"]]},{"id":"9448d9e5.5b1618","type":"api-current-state","z":"d4b46b29.205b48","name":"","server":"b073dd84.09cb6","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.tafel_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":869,"y":332,"wires":[[],["4564e9e7.026d18","e45d59be.dac8b8","f4b03af2.a77d48"]]},{"id":"4564e9e7.026d18","type":"time-range-switch","z":"d4b46b29.205b48","name":"","lat":"51.63787","lon":"4.79728","startTime":"06:00","endTime":"12:00","startOffset":0,"endOffset":"10","x":1157,"y":252,"wires":[["406340ac.e7255"],[]]},{"id":"e45d59be.dac8b8","type":"time-range-switch","z":"d4b46b29.205b48","name":"","lat":"51.63787","lon":"4.79728","startTime":"goldenHour","endTime":"21:00","startOffset":0,"endOffset":0,"x":1170,"y":360,"wires":[["246b22a5.b8217e","e49fab52.24fd78"],[]]},{"id":"ee407fbf.ef449","type":"server-state-changed","z":"32a6ac5d.df3574","name":"","server":"b073dd84.09cb6","entityidfilter":"sensor.tradfri_remote_control","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"a","halt_if_type":"","halt_if_compare":"is_not","outputs":2,"x":320,"y":120,"wires":[["cac99715.e64278"],[]]},{"id":"cac99715.e64278","type":"debug","z":"32a6ac5d.df3574","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":120,"wires":[]},{"id":"bfa5ec23.b78d2","type":"trigger-state","z":"32a6ac5d.df3574","name":"","server":"b073dd84.09cb6","entityid":"sensor.tradfri_remote_control","entityidfiltertype":"substring","debugenabled":true,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":300,"y":200,"wires":[["49f16d71.2f4bf4"],["49f16d71.2f4bf4"]]},{"id":"49f16d71.2f4bf4","type":"debug","z":"32a6ac5d.df3574","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":200,"wires":[]},{"id":"4f8b1deb.29ae84","type":"server-events","z":"32a6ac5d.df3574","name":"te3st","server":"b073dd84.09cb6","event_type":"","x":230,"y":400,"wires":[["441c148a.f518ac"]]},{"id":"441c148a.f518ac","type":"debug","z":"32a6ac5d.df3574","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":420,"wires":[]},{"id":"f4b03af2.a77d48","type":"time-range-switch","z":"d4b46b29.205b48","name":"","lat":"51.63787","lon":"4.79728","startTime":"21:00","endTime":"6:00","startOffset":0,"endOffset":0,"x":1149,"y":520,"wires":[["8f43ff5c.ff4c2","a833049.5ce4bf8"],[]]},{"id":"8f43ff5c.ff4c2","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch light on","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.tafel_2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1419,"y":473,"wires":[["8d2f62b6.f435b"]]},{"id":"592c4446.664c1c","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch light off","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":[\"light.tafel_2\"]}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1999,"y":479,"wires":[["766c215a.870bf"]]},{"id":"8d2f62b6.f435b","type":"stoptimer","z":"d4b46b29.205b48","duration":"20","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":1713,"y":473,"wires":[[],["592c4446.664c1c"]]},{"id":"246b22a5.b8217e","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch woonkamerlampen on","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.woonkamer_lampen\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1460,"y":380,"wires":[[]]},{"id":"406340ac.e7255","type":"api-current-state","z":"d4b46b29.205b48","name":"Check auto day-started","server":"b073dd84.09cb6","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automatic_day_start","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1450,"y":160,"wires":[["ed01446a.5974c8"]]},{"id":"eca9f5ad.d73188","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch light on","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.tafel_2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2079,"y":240,"wires":[["9aca8a1b.b978f8"]]},{"id":"7bc915de.01695c","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch light off","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.tafel_2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2659,"y":246,"wires":[[]]},{"id":"9aca8a1b.b978f8","type":"stoptimer","z":"d4b46b29.205b48","duration":"20","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":2373,"y":240,"wires":[[],["7bc915de.01695c"]]},{"id":"bfc7a58a.149b28","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch off auto day-started","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"input_boolean.automatic_day_start\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2099,"y":140,"wires":[[]]},{"id":"bf72c6bb.d58e98","type":"bigtimer","z":"d4b46b29.205b48","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer Reset","comment":"","lat":"51.61151","lon":"4.80832","starttime":"660","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"AAN","outtext2":"UIT","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":120,"y":600,"wires":[["e824afb6.838be"],[],[]]},{"id":"e824afb6.838be","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch on automatic day start","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"input_boolean.automatic_day_start\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":580,"wires":[[]]},{"id":"ed01446a.5974c8","type":"switch","z":"d4b46b29.205b48","name":"Check state","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1709,"y":160,"wires":[["a79636fc.0a0888","bfc7a58a.149b28"],["eca9f5ad.d73188"]]},{"id":"2d297295.eb0b4e","type":"inject","z":"23a11d2f.881b02","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":480,"wires":[["fd123fe7.379be"]]},{"id":"fd123fe7.379be","type":"api-current-state","z":"23a11d2f.881b02","name":"Check started","server":"b073dd84.09cb6","outputs":2,"halt_if":"on,off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automatic_day_start","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":460,"wires":[["20187be1.26a4e4","807131d.f769dd"],["6e9b263c.c18118","15e1a7e0.21ea48"]]},{"id":"20187be1.26a4e4","type":"switch","z":"23a11d2f.881b02","name":"Check state","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"else"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":910,"y":280,"wires":[["bbb54ecd.c3133"],["cb365ea1.6b168"],["7405c464.4dde8c"],["6d41e37.5e73e1c"]]},{"id":"bbb54ecd.c3133","type":"debug","z":"23a11d2f.881b02","name":"Is true","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":240,"wires":[]},{"id":"cb365ea1.6b168","type":"debug","z":"23a11d2f.881b02","name":"Is False","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1160,"y":300,"wires":[]},{"id":"6e9b263c.c18118","type":"switch","z":"23a11d2f.881b02","name":"Check state","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":910,"y":520,"wires":[["c37df2cd.de334"],["8698e657.762fd8"],["f27d2c01.ce719"]]},{"id":"c37df2cd.de334","type":"debug","z":"23a11d2f.881b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":480,"wires":[]},{"id":"8698e657.762fd8","type":"debug","z":"23a11d2f.881b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":540,"wires":[]},{"id":"7405c464.4dde8c","type":"debug","z":"23a11d2f.881b02","name":"otherwise","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1160,"y":360,"wires":[]},{"id":"f27d2c01.ce719","type":"debug","z":"23a11d2f.881b02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":620,"wires":[]},{"id":"807131d.f769dd","type":"debug","z":"23a11d2f.881b02","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":200,"wires":[]},{"id":"15e1a7e0.21ea48","type":"debug","z":"23a11d2f.881b02","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":660,"wires":[]},{"id":"6d41e37.5e73e1c","type":"debug","z":"23a11d2f.881b02","name":"test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":400,"wires":[]},{"id":"7890fae9.346e64","type":"server-state-changed","z":"d4b46b29.205b48","name":"Light.tafel1 switched","server":"b073dd84.09cb6","entityidfilter":"light.tafel_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":780,"wires":[["2c63e355.7651ac"]]},{"id":"a4f28057.85b02","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch off movement triggered","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"input_boolean.evening_movement_triggered\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":929,"y":760,"wires":[[]]},{"id":"2c63e355.7651ac","type":"api-current-state","z":"d4b46b29.205b48","name":"Check movement triggered","server":"b073dd84.09cb6","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.evening_movement_triggered","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":419,"y":780,"wires":[["b69d2140.179ff"]]},{"id":"b69d2140.179ff","type":"switch","z":"d4b46b29.205b48","name":"Check state","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":669,"y":780,"wires":[["a4f28057.85b02","c8be462c.82a708"],[]]},{"id":"64573700.e4f958","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch light.tafel2 on ","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.tafel_2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":860,"wires":[[]]},{"id":"a833049.5ce4bf8","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch on movement triggered","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"input_boolean.evening_movement_triggered\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1469,"y":540,"wires":[[]]},{"id":"46e55d0.38470a4","type":"mqtt in","z":"32b3138d.d2689c","name":"","topic":"mysensors-in/#","qos":"1","broker":"81c4fe80.c2ddf","x":300,"y":360,"wires":[["be4afed7.110e6"]]},{"id":"be4afed7.110e6","type":"debug","z":"32b3138d.d2689c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":360,"wires":[]},{"id":"c61ad6f8.b626d8","type":"mqtt in","z":"32b3138d.d2689c","name":"","topic":"mysensors-out/5/#","qos":"0","broker":"81c4fe80.c2ddf","x":310,"y":260,"wires":[["de328f4c.e7046"]]},{"id":"de328f4c.e7046","type":"debug","z":"32b3138d.d2689c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":260,"wires":[]},{"id":"17461a1f.c558f6","type":"mqtt in","z":"32b3138d.d2689c","name":"","topic":"mysensors-out/7/+/0/0/6","qos":"1","broker":"81c4fe80.c2ddf","x":330,"y":160,"wires":[["5146dd31.1312d4"]]},{"id":"5146dd31.1312d4","type":"debug","z":"32b3138d.d2689c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":160,"wires":[]},{"id":"c8be462c.82a708","type":"api-current-state","z":"d4b46b29.205b48","name":"","server":"b073dd84.09cb6","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.tafel_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":840,"wires":[[],["64573700.e4f958"]]},{"id":"e49fab52.24fd78","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch on movement triggered","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"input_boolean.evening_movement_triggered\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1470,"y":320,"wires":[[]]},{"id":"766c215a.870bf","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch off movement triggered","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"input_boolean.evening_movement_triggered\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2310,"y":479,"wires":[[]]},{"id":"3892cbda.42fbf4","type":"inject","z":"32a6ac5d.df3574","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":560,"wires":[["ff04de65.49cae"]]},{"id":"ff04de65.49cae","type":"api-call-service","z":"32a6ac5d.df3574","name":"Switch light night mode","server":"b073dd84.09cb6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bollamp\",\"rgb_color\":[100,100,0]}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":560,"wires":[[]]},{"id":"75664f1.cbd0eb","type":"inject","z":"32a6ac5d.df3574","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":700,"wires":[["978415a3.6bd1a8"]]},{"id":"978415a3.6bd1a8","type":"api-call-service","z":"32a6ac5d.df3574","name":"Switch light morning mode","server":"b073dd84.09cb6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bollamp\",\"rgb_color\":[184,134,11]}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":500,"y":700,"wires":[[]]},{"id":"eaa80e7f.45101","type":"inject","z":"32a6ac5d.df3574","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":820,"wires":[["1703d82f.a40fe8"]]},{"id":"1703d82f.a40fe8","type":"api-call-service","z":"32a6ac5d.df3574","name":"Switch light white mode","server":"b073dd84.09cb6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bollamp\",\"flash\":\"long\",\"brightness\":250,\"effect\":\"colorloop\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":820,"wires":[[]]},{"id":"e67f307f.d3c8","type":"inject","z":"32a6ac5d.df3574","name":"Spelletjes mode","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":940,"wires":[["9b7c64e3.52b908","4511b590.32c14c"]]},{"id":"9b7c64e3.52b908","type":"api-call-service","z":"32a6ac5d.df3574","name":"Switch light bollamp","server":"b073dd84.09cb6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bollamp\",\"brightness\":50,\"kelvin\":3000}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":920,"wires":[[]]},{"id":"4511b590.32c14c","type":"api-call-service","z":"32a6ac5d.df3574","name":"Switch light eettafel","server":"b073dd84.09cb6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.eettafel\",\"brightness\":210}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":510,"y":980,"wires":[[]]},{"id":"1483b883.bbfbe7","type":"inject","z":"32a6ac5d.df3574","name":"TV mode","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1100,"wires":[["a9e9b209.16cfa","82b74480.376988"]]},{"id":"a9e9b209.16cfa","type":"api-call-service","z":"32a6ac5d.df3574","name":"Switch light bollamp","server":"b073dd84.09cb6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.bollamp\",\"profile\":\"concentrate\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":1080,"wires":[[]]},{"id":"82b74480.376988","type":"api-call-service","z":"32a6ac5d.df3574","name":"Switch light eettafel","server":"b073dd84.09cb6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.eettafel\",\"brightness\":5}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":510,"y":1140,"wires":[[]]}]