node-red/flows.json
[{"id":"6db34105.dece4","type":"tab","label":"Test send message","disabled":false,"info":""},{"id":"d4b46b29.205b48","type":"tab","label":"MySensors Flow ","disabled":false,"info":""},{"id":"9495699b.c7d978","type":"tab","label":"Sun Flow","disabled":false,"info":""},{"id":"32a6ac5d.df3574","type":"tab","label":"Ikea TRADFRI","disabled":false,"info":""},{"id":"b073dd84.09cb6","type":"server","z":"","name":"Home Assistant"},{"id":"81c4fe80.c2ddf","type":"mqtt-broker","z":"","name":"HassioMQTT","broker":"localhost","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3562ea0d.8f01d6","type":"inject","z":"6db34105.dece4","name":"Set off","topic":"HelloWorld","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":280,"wires":[["bc1816ea.2a75a8"]]},{"id":"bc1816ea.2a75a8","type":"mqtt out","z":"6db34105.dece4","name":"Send message","topic":"HelloWorld","qos":"1","retain":"false","broker":"81c4fe80.c2ddf","x":550,"y":260,"wires":[]},{"id":"2a459d65.2c17e2","type":"mqtt in","z":"6db34105.dece4","name":"Receive message","topic":"HelloWorld","qos":"1","broker":"81c4fe80.c2ddf","x":250,"y":440,"wires":[["d7069a4f.194828","ac1e94a7.298f38","f73bed2d.00667"]]},{"id":"d7069a4f.194828","type":"debug","z":"6db34105.dece4","name":"Debug message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":380,"wires":[]},{"id":"2e5b430e.7ea34c","type":"inject","z":"6db34105.dece4","name":"Set on","topic":"HelloWorld","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["bc1816ea.2a75a8"]]},{"id":"ac1e94a7.298f38","type":"trigger-state","z":"6db34105.dece4","name":"HelloWorldStateTrigger","server":"b073dd84.09cb6","entityid":"HelloWorldState","entityidfiltertype":"exact","debugenabled":true,"constraints":[],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"3av2dtc7bn7","messageType":"default","messageValue":"","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":false,"state_type":"str","x":570,"y":440,"wires":[[],[],[]]},{"id":"f73bed2d.00667","type":"ha-fire-event","z":"6db34105.dece4","name":"Send HelloWorld Event","server":"b073dd84.09cb6","event":"HelloWorld","data":"","render_data":false,"mergecontext":"","x":620,"y":580,"wires":[[]]},{"id":"643da2f.d73975c","type":"mqtt in","z":"d4b46b29.205b48","name":"","topic":"mysensors-in/#","qos":"1","broker":"81c4fe80.c2ddf","x":340,"y":380,"wires":[["5c1f5906.b88b78"]]},{"id":"5c1f5906.b88b78","type":"debug","z":"d4b46b29.205b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":380,"wires":[]},{"id":"f7d95893.f14c88","type":"server-events","z":"6db34105.dece4","name":"","server":"b073dd84.09cb6","event_type":"","x":280,"y":700,"wires":[["c300cf6.8c65b3"]]},{"id":"c300cf6.8c65b3","type":"debug","z":"6db34105.dece4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":720,"wires":[]},{"id":"16000c72.20a5c4","type":"mqtt in","z":"d4b46b29.205b48","name":"","topic":"mysensors-out/7/#","qos":"1","broker":"81c4fe80.c2ddf","x":350,"y":280,"wires":[["47a50a87.f6e5f4"]]},{"id":"47a50a87.f6e5f4","type":"debug","z":"d4b46b29.205b48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":280,"wires":[]},{"id":"9e05edb5.d6dd8","type":"poll-state","z":"9495699b.c7d978","name":"Sun down","server":"b073dd84.09cb6","updateinterval":"60","outputinitially":true,"outputonchanged":true,"entity_id":"sun.sun","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":320,"y":200,"wires":[["628b7f8.c227b8","d6a756ca.191078"]]},{"id":"628b7f8.c227b8","type":"debug","z":"9495699b.c7d978","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":160,"wires":[]},{"id":"d6a756ca.191078","type":"switch","z":"9495699b.c7d978","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"above_horizon","vt":"str"},{"t":"eq","v":"below_horizon","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":300,"wires":[["628b7f8.c227b8"],["b0ee1e0e.75321"]]},{"id":"d3e9b142.a8b74","type":"debug","z":"9495699b.c7d978","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":500,"wires":[]},{"id":"7369f00e.4335c","type":"api-call-service","z":"9495699b.c7d978","name":"Switch light on","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.bollamp\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":319,"wires":[[]]},{"id":"b0ee1e0e.75321","type":"function","z":"9495699b.c7d978","name":"Check first run","func":"var lastRunDate=context.get('lastRunDate') || 0;\nvar currentDate = new Date();\nvar currentDateString = currentDate.toDateString()\n\n// test if undefined (automaticallye first run)\nif (lastRunDate===undefined || lastRunDate===currentDateString)\n{\n  lastRunDate=currentDateString;\n  flow.set('lastRunDate',lastRunDate);\n  return [msg, null];\n}\n\nreturn [null, msg];","outputs":2,"noerr":0,"x":780,"y":320,"wires":[["7369f00e.4335c","3adc5fa4.4dcf9"],["d3e9b142.a8b74"]]},{"id":"3adc5fa4.4dcf9","type":"debug","z":"9495699b.c7d978","name":"light on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060,"y":260,"wires":[]},{"id":"5e6bfc02.03aa74","type":"ha-get-entities","z":"32a6ac5d.df3574","server":"b073dd84.09cb6","name":"","rules":[{"property":"","logic":"is","value":"","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":260,"y":260,"wires":[[]]},{"id":"bc47b1c8.7ae52","type":"trigger-state","z":"6db34105.dece4","name":"","server":"b073dd84.09cb6","entityid":" sensor.tradfri_motion_sensor","entityidfiltertype":"exact","debugenabled":true,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":830,"y":100,"wires":[["76f4a825.5b7678"],["76f4a825.5b7678"]]},{"id":"76f4a825.5b7678","type":"debug","z":"6db34105.dece4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":80,"wires":[]},{"id":"4095a570.2643bc","type":"server-state-changed","z":"6db34105.dece4","name":"","server":"b073dd84.09cb6","entityidfilter":" sensor.tradfri_motion_sensor","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":920,"y":240,"wires":[["33c9118d.2a9bbe"]]},{"id":"33c9118d.2a9bbe","type":"debug","z":"6db34105.dece4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1240,"y":240,"wires":[]},{"id":"a92d990d.1f2048","type":"mqtt in","z":"d4b46b29.205b48","name":"","topic":"mysensors-out/5/12/#","qos":"1","broker":"81c4fe80.c2ddf","x":321,"y":600,"wires":[["ca80075c.3b9fb8"]]},{"id":"ca80075c.3b9fb8","type":"switch","z":"d4b46b29.205b48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":531,"y":600,"wires":[[],["b2f43d8f.e51b8"]]},{"id":"a79636fc.0a0888","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch woonkamerlampen on","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.woonkamer_lampen\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1648,"y":525,"wires":[[]]},{"id":"b2f43d8f.e51b8","type":"api-current-state","z":"d4b46b29.205b48","name":"","server":"b073dd84.09cb6","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.bollamp","state_type":"str","outputs":2,"x":741,"y":606,"wires":[[],["9448d9e5.5b1618"]]},{"id":"9448d9e5.5b1618","type":"api-current-state","z":"d4b46b29.205b48","name":"","server":"b073dd84.09cb6","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.tafel2","state_type":"str","outputs":2,"x":1050,"y":612,"wires":[[],["4564e9e7.026d18","e45d59be.dac8b8"]]},{"id":"4564e9e7.026d18","type":"time-range-switch","z":"d4b46b29.205b48","name":"","lat":"51.63787","lon":"4.79728","startTime":"06:00","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":1358,"y":532,"wires":[["a79636fc.0a0888"],[]]},{"id":"e45d59be.dac8b8","type":"time-range-switch","z":"d4b46b29.205b48","name":"","lat":"51.63787","lon":"4.79728","startTime":"sunset","endTime":"6:00","startOffset":0,"endOffset":0,"x":1330,"y":660,"wires":[["1c9f2e2e.929292"],[]]},{"id":"1c9f2e2e.929292","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch light on","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.tafel2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1600,"y":653,"wires":[["d415fdb7.90ba7"]]},{"id":"1338bc71.ffd2b4","type":"api-call-service","z":"d4b46b29.205b48","name":"Switch light off","server":"b073dd84.09cb6","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.tafel2\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":2180,"y":659,"wires":[[]]},{"id":"d415fdb7.90ba7","type":"stoptimer","z":"d4b46b29.205b48","duration":"20","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":1894,"y":653,"wires":[[],["1338bc71.ffd2b4"]]},{"id":"a86f0f89.86a8b","type":"mqtt in","z":"d4b46b29.205b48","name":"","topic":"mysensors-out/7/+/0/0/6","qos":"1","broker":"81c4fe80.c2ddf","x":370,"y":180,"wires":[["cc7131f0.12bf8"]]},{"id":"cc7131f0.12bf8","type":"debug","z":"d4b46b29.205b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":180,"wires":[]},{"id":"ee407fbf.ef449","type":"server-state-changed","z":"32a6ac5d.df3574","name":"","server":"b073dd84.09cb6","entityidfilter":"sensor.tradfri_remote_control","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"a","halt_if_type":"","halt_if_compare":"is_not","outputs":2,"x":320,"y":120,"wires":[["cac99715.e64278"],[]]},{"id":"cac99715.e64278","type":"debug","z":"32a6ac5d.df3574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":120,"wires":[]},{"id":"bfa5ec23.b78d2","type":"trigger-state","z":"32a6ac5d.df3574","name":"","server":"b073dd84.09cb6","entityid":"sensor.tradfri_remote_control","entityidfiltertype":"substring","debugenabled":true,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":300,"y":200,"wires":[["49f16d71.2f4bf4"],["49f16d71.2f4bf4"]]},{"id":"49f16d71.2f4bf4","type":"debug","z":"32a6ac5d.df3574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":200,"wires":[]},{"id":"4f8b1deb.29ae84","type":"server-events","z":"32a6ac5d.df3574","name":"te3st","server":"b073dd84.09cb6","event_type":"","x":230,"y":400,"wires":[["441c148a.f518ac"]]},{"id":"441c148a.f518ac","type":"debug","z":"32a6ac5d.df3574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":420,"wires":[]}]